/* Taken from do html will have to refactor */

.top_nav {
    overflow: hidden;
    background-color: #000;
    padding-left: 15px;
}

.top_nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-style: groove;
    border-color: black;
}

.top_nav a:hover {
    background-color: #ddd;
    color: black;
}

.top_nav a.active {
    background-color: #04AA6D;
    color: white;
}

.admin_commands {
    padding-top: 40px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}


/*
For Login/Registration Form Page
*/

.credentialLabel {
    font-family: arial;
}

.credentialInformation {
    max-width: 700px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding: 15px;
    margin: auto;
    margin-top: 80px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #f2f2f2;
}

.credentialInput {
    padding: 5px;
    width: 100%;
    font-family: arial;
}

.credentialInput:hover {
    font-family: arial;
    border: 2px solid orangered;
}

.credentialLabel {
    font-family: arial;
    text-align: left;
}

.credentialButton {
    text-align: center;
    padding: 5px;
    font-family: arial;
    margin: 5px;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    background-color: white;
    color: black;
    border: 2px solid #555555;
}

.credentialButton:hover {
    font-family: arial;
    background-color: gray
}

.credentialFormContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

input[type=submit] {
    border: 1 solid white;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
}

button {
    border: 1 solid white;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.div_main_title {
    margin-top: 40px;
    margin-left: 40px;
}

.main_title {
    font-family: arial;
    font-size: 24px;
}

.main_description {
    font-family: arial;
    font-size: 16px;
}

.page_title {
    align-items: center;
    text-align: center;
}

.page_title h1 {
    font-family: arial;
    line-height: 1.5;
    font-size: 20px;
    margin: 40px;
}

.results {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: auto;
    text-align: center;
    font-family: arial;
    overflow: hidden;
    white-space: nowrap;
    width: 30%;
    padding: 15px;
    line-height: 1.5;
}

.card {
    background-color: rgb(202, 202, 202);
    margin-left: 15px;
    margin-right: 15px;
    align-items: center;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 350px;
    line-height: 1.5;
}

.card h1 {
    font-size: 20px;
    border: 2px solid gray;
}

.card Button {
    padding: 12px;
    border: 1 solid white;
    outline: 0;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.card Button:hover {
    opacity: 0.5;
}

.card img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

.table_style {
    display: inline-block;
    margin: auto;
    padding: 10px;
}

.outer_table_style {
    width: 100%;
    text-align: center;
}

.about_me {
    border-style: solid;
    background-color: white;
    margin-left: 15px;
    margin-right: 15px;
    align-items: center;
    line-height: 1.5;
    padding: 20dp;
}

.about_me h1 {
    text-indent: 50px;
    margin: 20px
}

.about_me p {
    text-indent: 30px;
    margin: 20px
}

.product {
    border-style: solid;
    text-align: center;
    border: 1 solid white;
    margin: 20px;
}